################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ConfiguringDeadLetterExchange/
/PostService/
/RabbitMQApp/
/RabbitMQAppNet6/
/RabbitRxNet/
/UserService/
/WorkerChangeStream/
/ConsumerApp/
/ConsumerApp2/
/ConsumerApp3/
/ProducerApp/
/RabbitMQSql/
/RabbitMqTest/
